<div class="row mb-4 blogpost-text">
    <div class="col-md-5">
        <h3>{{blogpost.title}}</h3>
        <p>Posted by {{blogpost.user.username}}</p>
    </div>
    <div class="row-md-7">
        <p>
            {{blogpost.content}}
        </p>
    </div>
</div>

<div class="col-md-6">
    <h3>Leave a Comment</h3>

    <form class="form new-comment-form">
      <div class="form-group">
        <input class="form-input" type="text" id="comment-content"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="comment-btn" data-id="{{blogpost.id}}">Comment</button>
      </div>
    </form>
</div>
{{#if blogpost.comments.length}}
<h4>Comments</h4>
{{#each blogpost.comments as |comment|}}
<div class="row mb-4 comment">
    <div class="col-md-5">
        <p>Commented by {{comment.user.username}}</p>
    
        <div class="row-md-7">
            <p>
                {{comment.content}}
            </p>
        </div>
    </div>
</div>
{{/each}}
{{/if}}

<script src="../js/blogpost.js"></script>