<div>
  <button class="btn btn-primary" type="button" id="new-blogpost">Make a new post</button>
</div>
{{#if user.blogposts.length}}
{{#each user.blogposts as |blogpost| }}
<div class="row mb-4 blogpost">
  <div class="col-md-5">
    <h2>
      <a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a>
    </h2>
    <p>Posted by {{user.username}} on {{format_date blogpost.date_created}}</p>
  </div>
  <div class="row-md-7">
    <p class="blogpost-text">
      {{blogpost.content}}
    </p>
  </div>
    <div class="row-md-4">
        <button class="btn btn-sm btn-danger delete-btn" data-id="{{blogpost.id}}">Delete</button>
    </div>
</div>
{{/each}}
{{else}}
<div class="row mb-4 project">
  <p>This is where you would keep your posts</p>
  <h2>IF YOU HAD ANY!</h2>
</div>
{{/if}}

<script src="./js/homepage.js"></script>
<script src="./js/dashboard.js"></script>